<%assistant = Assistant.find_by_id(params[:id])%>
<h1>Edit Assistant: <%= assistant.name%></h1>

<form action="/assistants/<%="#{params[:id]}"%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" ></input><br>

  <label for="position">Position</label>
  <input type="text" name="position" id="position" ></input><br>

  <label for="skills">Skills:</label>
  <input type="text" name="skills" id="skills" ></input><br>

  <input type="submit" value="submit"></input>
  <p>

</form>
