<h1>Create a new assistant here:</h1>

<form action="/assistants" method="POST">
  <p>
    Assistant Name: <input type="text" name="name" />

    Position <input type="text" name="position"/>

    Skills: <input type="text" name="skills"/>

  <input type="submit" value="submit"></input>

</form>
