<h1> Welcome, <%= @dentist.name %></h1>
 <% @patients.each do |patient| %>
    <%= patient.name %><br>
    <% end %>
<h2> Search patients</h2>
<h5><a href='/logout'>Logout</a></h5>
<h5><a href='/patients/:id'>Patient Detail</a></h5>
<h5><a href='/patients/new'>New Patient</a></h5>
