<h1> Hello, your patients' records are below.</h1>
<h3>Please scroll to the bottom of this page to edit, delete, or create new records.</h3>
 <% @patients.each do |patient| %>
 <p><h2><%= patient.name %></h2>

    <a href="/patients/<%= patient.id %>"> View patient here</a>
    <% end %></p>

    <br></br>

<h4><a href='/patients/new'>Create New Patient</a></h4>
<h4><a href='/assistants'>View Assistant Records</a></h4>
<h4><a href='/logout'>Logout</a></h4>
