<h1>Create a new patient here:</h1>

<form action="/patients" method="POST">
  <p>
    <label for="name">Patient Name:</label>
    <input type="text" name="name" id="name" />

    <label for="insurance">Insured?</label>
    <input type="text" name="insurance" id="insurance" />

    <label for="email">Patient Email:</label>
    <input type="text" name="email" id="email" />

    <label for="history">Previous procedures:</label>
    <input type="text" name="history" id="history" />
  </p>

  <input type="submit" />

</form>

<h5><a href='/patients/:id/delete'>Delete patient</a></h5>
<h5><a href='/patients/:id/edit'>Edit patient</a></h5>
