<!doctype html>
<html>
  <head>
    <title>Dental Database</title>

    <style>
    body {
    background-color: linen;
    }

    div  {
        color: darkgreen;
    }
    </style>

  </head>
  <body>

    <div class="container">
      <% if flash[:errors] %>
      <h3 style="color: red;"><%= flash[:errors] %></h3>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
