<!doctype html>
<html>
  <head>
    <title>Dental Database</title>

    <style>
    body {
      background-color: brown;
    }

    div  {
      color: darkgreen;
      margin-top: 50px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
      border: 10px double black;
      padding: 15px;
      background: linen;
      background-clip: border-box;
    }
    </style>

  </head>
  <body>

    <div class="container">
      <% if flash[:errors] %>
      <h2 style="color: purple;"><%= flash[:errors] %></h2>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
