<h1>signup</h1>

<form action="/dentists" method="POST">

  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </p>

  <input type="submit" />

</form>

<h4>Already signed up?</h4>
<h5><a href='/login'>Login</a></h5>
